
:root {
  --primary-color-1: hsl(75, 94%, 57%);

  --neutral-color-1: hsl(0, 0%, 100%);
  --neutral-color-2: hsl(0, 0%, 20%);
  --neutral-color-3: hsl(0, 0%, 12%);
  --neutral-color-4: hsl(0, 0%, 8%);

  --fs-paragraph: 0.875rem;
  
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;

}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  background-color: var(--neutral-color-4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--neutral-color-1);
}

/* A elements that don't have a class get default styles */
a {
  text-decoration-skip-ink: auto;
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

main {
  width: 90%;
  max-width: 24rem;
}

.social__profile {
  background-color: var(--neutral-color-3);
  border-radius: 12px;
  padding-block: 2rem;
  padding-inline: 2rem;
 
}

.social__profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.social__profile-img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-block-end: 1.25rem;
}

.social__profile-name {
  font-weight: var(--fw-600);
}

.social__profile-address {
  color: var(--primary-color-1);
  font-size: var(--fs-paragraph);
  font-weight: var(--fw-600);
}

.social__profile-bio {
  font-style: normal;
  font-size: var(--fs-paragraph);
  margin-block: 1.5rem;
}


.social__link-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.social__link-list-item a {
  display: block;
  background-color: var(--neutral-color-2);
  border-radius: 6px;
  color: var(--neutral-color-1);
  padding-block: .75rem;
  font-size: var(--fs-paragraph);
  font-weight: var(--fw-700);
  text-align: center;
  cursor: pointer;
  transition: 
    color .35s ease-in-out,
    background-color .35s ease-in-out;

}
.social__link-list-item a:hover {
  background-color: var(--primary-color-1);
  color: var(--neutral-color-3);
}